{% extends 'base.html' %}
{% block content %}
<div style="max-width:600px;text-align:center;margin:auto;">
  <p>
    Enter the authorization key.
  </p>
  <form action="/key" method="post">
    <table style="margin: auto">
      <tr>
        <td>Key: </td>
        <td>
          <input type='text' name='key' />
        </td>
      </tr>

      <tr>
        <td colspan='2' align="center">
          <input type='submit' value='Submit' />
        </td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}
